<h1>Hello for Rails !</h1>
<p>
The time is <%= @time %>
</p>
<p>
	It is time to say 
	<%= link_to "Goodbye", say_goodbey_path %>!

	<%= for i in 2..9 %>
		
	<%=end%>
	    
	the number is <%= i %>

	



</p>